.raspuns {
    width: 150px;
    padding: 10px;
    margin: 10px;
    float: left;
    margin-top: 0;
    clear: left;
}

h1 {
    color: darkslategray;
}

h2 {
    color: deeppink;
}

.true {
    color: green;
}

.false {
    color: red;
}

.presidentAvatar {
    width: 100px;
}