#container {
    border: 1px solid red;
    width: 455px;
    padding: 10px;
}
.cifre-container {
    width: 240px;
    display: inline-block;
}
.operatii-container {
    display: inline-block;
    width: 85px;
}
.actiuni-container {
    display: inline-block;
    width: 85px;
}
.cell {
    user-select: none;
    display: inline-block;
    padding: 28px;
    margin: 2px;
    border: 2px solid darkred;
    border-radius: 3px;
    cursor: pointer;
    font-size: 30px;
    width: 16px;
    text-align: center;
}
.actiuni-container .actiune {
    width: 65px;
}

.display {
    font-size: 30px;
    height: 60px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}