.chronometer-container{
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.chronometer-principal{
    border: 1px;
    font-size: xx-large; 
    width: 40%;
}
.chronometer-row{
    width: 500px;
}
.chronometer-row div{ 
    display: inline-block;
}
.chronometer-actions{
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: 66px;
}
.chronometer-actions button{
    margin: 5px;
}